
.container {width: 60vw; margin: 0 auto; padding: 120px 0 1rem; display: flex; flex-grow: 4;}
.main {width: 70%; }

@media (max-width: 62rem) { 
    .container {width: 100vw; margin: 0 auto; padding: 120px 0 1rem; flex-grow: 4;}
}

@media (max-width: 43rem) {
    .container {flex-direction: column;}
    .main {width: 100%; }
}
